*{margin: 0;padding: 0;color: inherit;font: inherit;}

.pop-up{position: fixed;left: 0;top: 0;background: #0006;width: 100%;height: 100%;}
.pop-up > .parent{position: relative;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 800px;max-width: 90vw;max-height: 90vw;}