<div class="container pop-up task">
    <div class="parent">
        <div class="titulo">
            <p>{{ id ? 'Update' : 'Create' }} Task</p>
        </div>
        <label class="input-parent">
            <input class="input" [(ngModel)]="task.name" type="text" name="name">
            <p>Title</p>
        </label>
        <label class="input-parent">
            <textarea [(ngModel)]="task.description" name="description" class="input"></textarea>
            <p>Description</p>
        </label>
        <div class="flex-row">
            <button type="button" (click)="onSubmit()" routerLink="/tasks/list">
                <p>{{ id ? 'Update' : 'Create' }}</p>
            </button>
            <button class="green" type="button" routerLink="/tasks/list">
                <p>Go Back</p>
            </button>
        </div>
    </div>
</div>