<div class="container pop-up task">
    <div class="parent">
        <div class="titulo">
            <p>Create Task</p>
        </div>
        <div class="flex-row">
            <button class="update" (click)="updateList()">
                <p>Update List</p>
            </button>
            <a routerLink='/tasks/create'>
                <button class="green">
                    <p>Create Task</p>
                </button>
            </a>
        </div>
        <ul class="task-list">
            <li class="task">
                <p>Title</p>
                <p>Description</p>
                <p>Creation Date</p>
                <p>Status</p>
                <p>Actions</p>
            </li>
            @for (task of tasks; track task){
                <li class="task">
                    <p>{{ task.name }}</p>
                    <p>{{ task.description }}</p>
                    <p>Creation Date</p>
                    <p>{{ task.status.toString() }}</p>
                    <div class="actions">
                        <a routerLink="/tasks/create/{{ task.id }}" class="image-fit">
                            <img src="icons/edit.png" alt="Edit task {{ task.name }}" title="Edit task '{{ task.name }}'">
                        </a>
                        <div class="image-fit" (click)="removeTask(task.id)">
                            <img src="icons/delete.png" alt="Remove task {{ task.name }}" title="Remove task '{{ task.name }}'">
                        </div>
                        <div class="image-fit" (click)="updateTaskStatus(task.id)">
                            <img src="icons/task-status/{{ task.status }}.png" alt="The task is {{ task.status.toString() }}" title="The task is {{ task.status.toString() }}">
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>