.container.task{background: #efefef;}
.container.task .parent{background: #fff;box-shadow: 0 0 2px 0 #676767;box-sizing: border-box;padding: 20px;border-radius: 5px;overflow: auto;}
.container.task .parent .titulo{font: 24px "Roboto";color: #212121;font-weight: 600;text-align: center;margin: 0 0 40px;}
.container.task .parent .input-parent{position: relative;display: block;margin: 0 0 20px;}
.container.task .parent .input-parent p{position: absolute;left: 20px;top: 50%;transform: translate(0, -50%);font: 15px "Roboto";color: #343434;transition: .4s;user-select: none;}
.container.task .parent .input-parent .input{height: 45px;padding: 0 20px;border-radius: 3px;background: none;box-shadow: 0 0 2px 0 #232323;outline: none;border: none;font: 14.5px "Roboto";box-sizing: border-box;width: 100%;}
.container.task .parent .input-parent .input:focus{outline: 1px solid #1b6df1;}
.container.task .parent .input-parent .input:focus ~ p{outline: 1px solid #1b6df1;}
.container.task .parent .input-parent .input:focus ~ p,
.container.task .parent .input-parent .input:not([ng-reflect-model=""]) ~ p,
.container.task .parent .input-parent:hover p{top: 0;font-size: 11px;color: #000;padding: 5px 10px;border-radius: 3px;background: #fff;box-shadow: 0 0 2px #232323;left: 10px;}
.container.task .parent a{width: fit-content;display: block;}
.container.task .parent .task-list .task{display: flex;align-items: stretch;justify-content: space-between;--itens: 5;font: 14.5px "Roboto";color: #212121;padding: 10px 0;}
.container.task .parent .task-list .task:nth-of-type(even){background: #f9f9f9;}
.container.task .parent .task-list .task:nth-of-type(odd){background: #e8e8e8;}
.container.task .parent .task-list .task > *{flex: 0 0 auto;width: calc(100% / var(--itens));padding: 0 15px;box-sizing: border-box;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
.container.task .parent .task-list .task .actions{display: flex;align-items: center;justify-content: flex-start;gap: 5px;}
.container.task .parent .task-list .task .actions > *{width: 15px;height: 15px;flex: 0 0 auto;display: grid;align-items: stretch;transition: .4s;}
.container.task .parent .task-list .task .actions > *:hover{cursor: pointer;transform: scale(1.1);}
.container.task .parent .task-list .task .actions .task-status{width: auto;font-size: 11px;height: auto;text-align: center;}
.container.task .parent .task-list .task .actions .task-status .image-fit{width: 15px;margin: 0 auto;}